parameters:
    level: max
    tmpDir: /tmp/phpstan

    paths:
        - src

    excludePaths:
        analyse:
            - */tests/*
            - tests/*
            - %rootDir%/../../../tests/*